body {
  padding: 20px 15px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #0000aa;
}
a:link, a:visited {
  color: #0000aa;
  text-decoration: none;
}
a:hover {
  color: #0000aa;
  text-decoration: underline;
}

a:active {
  color: #3333ff;
  text-decoration: underline;
}

ul {
  padding-left: 7px;
  margin-left: 15px;
}

blockquote.hint {
  margin: 10px;
  padding: 5px;
  border: 2px solid #008800;
  background: #ccffcc;
}

blockquote.warning {
  margin: 10px;
  padding: 5px;
  border: 2px solid #880000;
  background: #ffcccc;
}

blockquote.note {
  margin: 10px;
  padding: 5px;
  border: 2px solid #000088;
  background: #ccccff;
}

blockquote.plain {
  border: none;
  background: none;
}

img.icon {
    width: 16;
    height: 16;
    border: none;
    align: center;
}

img.big {
    width: 32;
    height: 32;
    border: none;
    align: center;
}

img.nonicon {
    width: auto;
    height: auto;
    border: auto;
    align: auto;
}

span.key {
    border: 1px solid gray;
    background-color: #dddddd;
    padding: 0px 5px 0px 3px;
}

.aside {
    color: #888888;
}
